

body {
    background-color: blanchedalmond;
}

div {
    text-align: center;
    background-color:rgba(89, 72, 202, 0.943));
    back
    
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color:antiquewhite;
    
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color:antiquewhite;

}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color:antiquewhite;

}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color:antiquewhite;

}

h4 {
    font-family: 'Times New Roman', Times, serif;
    color:antiquewhite;

}
