






img {
    border-style: groove;
    border-radius: 8px;
    width: 350px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

body {
    background-image: url(https://media0.giphy.com/media/sJvz8Qnfly3BOuotGx/giphy.gif?cid=ecf05e47jf2io28fpflmqzzyw0yv9w2te18tumrezl8nou9g&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    background-size: cover;
}
